@model BIMP.Models.Companys
@using BIMP.Models;
@{
    Layout = null;
    string companyNo = Model.COMPANY_NO.ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.structure.min.css" />

    <!-- 달력 -->

    <script src="~/Scripts/common.js"></script>
    <link rel="stylesheet" href="~/Content/Menu.css" />
    <title>업체수정</title>
</head>
<body>
    <form id="companyForm">
        <input type="hidden" id="companyNo"  name="companyNo" value="@companyNo" />
        <nav class="popup-header" style="background-color: white;">
        </nav>
        <div class="popup-container" style="height:700px; overflow-y:scroll;">
            <div>
                <div class="col-xs-1" style="margin-top:8px;">
                    <label style="font-size:15px">고객명</label>
                </div>
                <div class="col-xs-5" style="margin-bottom:15px;">
                    @*<input class="form-control input-lg" type="text" value="@order_name" style="background-color:white;" />*@
                    @Html.HiddenFor(moodelItem => moodelItem.COMPANY_NO)
                    @Html.TextBoxFor(moodelItem => moodelItem.COMPANY_NM, new { name = "COMPANY_NM", placeholder = "고객명", @class = "form-control input-lg", required = "" })
                </div>
                <div class="col-xs-1" style="margin-top:8px;">
                    <label style="font-size:15px">번호</label>
                </div>
                <div class="col-xs-5" style="margin-bottom:15px;">
                    @*<input class="form-control input-lg" type="text" value="@order_phone" style="background-color:white;" />*@
                    @Html.TextBoxFor(moodelItem => moodelItem.COMPANY_PHONE, new { name = "COMPANY_PHONE", placeholder = "고객명", @class = "form-control input-lg", required = "" })

                </div>
            </div>

        </div>

        <nav class="popup-footer;" style="text-align:center;">
            <span id="validationMsg"></span>
            <button id="btnSave" class="btn btn-success">
                저장
            </button>

            <button id="btnClose" type="button" class="btn btn-danger">
                닫기
            </button>
        </nav>
    </form>
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            //$.datepicker.setDefaults({
            //    monthNames: ['년 1월', '년 2월', '년 3월', '년 4월', '년 5월', '년 6월', '년 7월', '년 8월', '년 9월', '년 10월', '년 11월', '년 12월'],
            //    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            //    showMonthAfterYear: true,
            //    dateFormat: 'yy-mm-dd',  // 년월일 표시방법  yy-mm-dd 또는 yymmdd
            //    buttonImageOnly: true,
            //    buttonText: "달력",
            //});

            //$('.datepicker').datepicker(); //Initialise any date pickers

            $("#btnClose").click(function () {
                closePopUp(self);
            });
            $('#btnSave').click(function () {
                cmdSave();
            })
        });


        function cmdSave() {
            $("#companyForm").submit(function (event) {
                $.ajax({
                    type: 'post',
                    async: true,
                    url: '/Company/Company001PC',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data != null) {
                            parent.cmdSearch();
                            closePopUp(self);
                        }
                    }
                });
            });
        }
    </script>
</body>
</html>

